@page
@model LojaDeLivros.Pages.DetalheModel
@{
}
<h1>Detalhes do Produto/Serviço</h1>

<div>
    <strong>Nome:</strong> @Model.Produto.Nome
</div>
<div>
    <strong>Preço:</strong> @Model.Produto.Preco
</div>